#include "resource.h"
#include "winres.h"

//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
//#pragma code_page(1252)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

IDD_SAVE_OPTION DIALOG 0, 0, 280, 156
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS
CAPTION ""
FONT 9, "MS UI Gothic"
{
   CONTROL "", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_DISABLED, 0, 0, 280, 32 
   CONTROL "", IDC_TXT_INFO, STATIC, SS_LEFT | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 14, 1, 205, 12 
   CONTROL "バッチ登録", -1, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 227, 0, 50, 14 
   CONTROL "ビデオ圧縮", IDC_BTN_VIDEO_COMPRESS, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 20, 52, 16 
   CONTROL "", IDC_TXT_VIDEO, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 72, 24, 148, 10 
   CONTROL "", -1, STATIC, SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE | WS_DISABLED, 68, 20, 156, 16 
   CONTROL "オーディオ圧縮", -1, BUTTON, BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 12, 40, 52, 16 
   CONTROL "", IDC_TXT_AUDIO, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 72, 44, 148, 10 
   CONTROL "", -1, STATIC, SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE | WS_DISABLED, 68, 40, 156, 16 
   CONTROL "再圧縮無し", -1, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 228, 22, 44, 12 
   CONTROL "再圧縮無し", -1, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 228, 38, 44, 10 
   CONTROL "音声無し", IDC_CHK_NOAUDIO, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 48, 40, 10 
   CONTROL "タイトル :", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 12, 60, 28, 8 
   CONTROL "", -1, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP | WS_DISABLED, 12, 68, 128, 44 , 0x00000200
   CONTROL "コメント :", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 144, 60, 28, 8 
   CONTROL "", -1, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP | WS_DISABLED, 144, 68, 128, 44 , 0x00000200
   CONTROL "著作権 :", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 12, 118, 24, 8 
   CONTROL "", -1, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_DISABLED, 38, 116, 234, 12 , 0x00000200
   CONTROL "音声をWAV出力", -1, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 12, 134, 60, 12 
   CONTROL "ログ出力", -1, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 72, 134, 40, 12 
   CONTROL "インターリーブ :", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 172, 136, 48, 8 
   CONTROL "1", -1, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_DISABLED, 220, 134, 12, 12 , 0x00001200
   CONTROL "フレーム間隔", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 232, 136, 40, 8 
}
